{% extends 'layout.html' %}
{% load static %}
<head>
    {% block title %}
        <title>About | KrishiSathi</title>
    {% endblock %}
</head>
{% block body %}
    {#    <body>#}
    {#     <hr>#}
    {#    <!-- Header - set the background image for the header in the line below -->#}
    {#	<div>#}
    {#    </header>#}
    {#	<div class="text-center">#}
    {#	<h1 style="font-family: fantasy;">ABOUT</h1>#}
    {#	<br>#}
    {#	</div>#}
    {#	<div class="text-center">#}
    {#	<h3><i>Authors</i></h3>#}
    {#	<br>#}
    {#	</div>#}
    {#	<div class="text-center">#}
    {#	<div class="row">#}
    {#		<div class="col-4">#}
    {#			<img src="{% static "img/Ajaiiswal.jpg" %}" alt="Ashish" style="width:150px;height:150px;">#}
    {#			<br>#}
    {#			<b>ASHISH JAISWAL</b>#}
    {#			<p color="lead"> BEX 71012 </p>#}
    {#			<i>KATHMANDU ENGINEERING COLLEGE</i>#}
    {#			</br>#}
    {#		</div>#}
    {#		<div class="col-4">#}
    {#			<img src="{% static "img/MAdhikari.jpg" %}" alt="Manish" style="width:150px;height:150px;">	#}
    {#			<br>#}
    {#			<b>MANISH ADHIKARI</B>#}
    {#			<p color="lead">BEX 71028</p>#}
    {#			<i>KATHMANDU ENGINEERING COLLEGE</i>#}
    {#			</br>#}
    {#			</div>#}
    {#		<div class="col-4">#}
    {#			<img src="{% static "img/Kgyawali.jpg" %}" alt="Kishor" style="width:150px;height:150px;">#}
    {#			<br>#}
    {#			<b>KISHOR GYAWALI</b>#}
    {#			<p color="lead">BEX 71024</p>#}
    {#			<i>KATHMANDU ENGINEERING COLLEGE</i>#}
    {#			<br>#}
    {#			<br>#}
    {#		</div>#}
    {#	</div>#}
    {#	</div>#}
    {#	<section class="py-5">#}
    {#        <div class="container">#}
    {#			<img src="{% static "img/smartagri1.jpg" %}" alt="hardware" style="width:100%;height:250px;">#}
    {#		</div>#}
    {#	</section>#}
    {#	<section class="py-5">#}
    {#        <div class="container">#}
    {#        	<div class="text-center">#}
    {#	 		 <h4>WHAT IS IT ABOUT?</h4>#}
    {#	 		</div>#}
    {#            <p style="text-align: justify;">This project named as "Krishi Sathi" is all about the concept of snart agricultural project with the motive to increase the productivity of soil and give raise in the cultivation and harvest process of the crops. The main agenda of this process is suggesting the suitable type of the crops that can be cultivated in accordance with the available value of the parameter.</p>#}
    {#        </div>#}
    {#      </section>#}
    {#	<section class="py-5">#}
    {#        <div class="container">#}
    {#        	<div class="text-center">#}
    {#	 		 <h4>WHY KRISHI SATHI?</h4>#}
    {#	 		</div>#}
    {#            <p style="text-align: justify;">The main target of this project KRISHI SATHI is to replace the old school methododlgy of farming(traditional way of farming) with the modern and technical method of farmin which leads the productivity output to the progressive peak. Farmers are provided the ease for the cultivation and harvest of the suitable crops accrding to the respective considered measured values of parameters.</p>#}
    {#        </div>#}
    {#    </section>#}
    {#    <section class="py-5">#}
    {#        <div class="container">#}
    {#        	<div class="text-center">#}
    {#	 		 <h4>WHERE DOES IT HAS SCOPE?</h4>#}
    {#	 		</div>#}
    {#            <p style="text-align: justify;">The scope is designed as per the cover of the agricultural field and bring the improvement regarding the process and methodologies applied during farming in the context of developing agricultural countries especially reliable to NEPAL.</p>#}
    {#        </div>#}
    {#      </section>#}
    {#	<section class="py-5">#}
    {#        <div class="container">#}
    {#        	<div class="text-center">#}
    {#	 		 <h4>WHOM IS IT APPLICABLE TO?</h4>#}
    {#	 		</div>#}
    {#            <p style="text-align: justify;">It is applicable to the farmers who sustain their living with the ocuupational farming.They can use Krishi Sathi to maximize the production of crops and this leads to the quality life of the individuals.</p>#}
    {#       </div>#}
    {#    </section>#}
    {#    </body>#}
{% endblock %}