{% extends 'layout.html' %}
{% load static %}


{% block style %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}
    <title>Login | KrishiSathi</title>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="pen-title">
                <h1>Login Form</h1>
            </div>
            <div class="container">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title">Login</h1>
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-container">
                            <input type="text" id="username" required="required" name="username"/>
                            <label for="username">Username</label>
                            <div class="bar"></div>
                        </div>
                        <div class="input-container">
                            <input type="password" id="password" required="required" name="password"/>
                            <label for="password">Password</label>
                            <div class="bar"></div>
                        </div>
                        <div class="button-container">
                            <button type="submit"><span>Login</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
{% endblock %}