{% extends 'layout.html' %}
{% load static %}


{% block style %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}
    <title>Sign Up | KrishiSathi</title>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="pen-title">
                <h1>Register Form</h1>
            </div>
            <div class="container">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title">Sign Up</h1>
                    <form>
                        <div class="input-container">
                            <input type="text" id="Username" required="required"/>
                            <label for="Username">Username</label>
                            <div class="bar"></div>
                        </div>
                        <div class="input-container">
                            <input type="password" id="Password" required="required"/>
                            <label for="Password">Password</label>
                            <div class="bar"></div>
                        </div>
                        <div class="button-container">
                            <button><span>Register</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
{% endblock %}