{% extends 'layout.html' %}
{% load static %}


{% block style %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}
    <title>Sign Up | KrishiSathi</title>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="pen-title">
                <h1>Register Form</h1>
            </div>
            <div class="container">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title">Sign Up</h1>
                    <form action="{% url 'signup' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <div class="input-container">
                                    <input type="text" id="first_name" required="required" name="first_name"/>
                                    <label for="first_name">First Name</label>
                                    <div class="bar"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-container">
                                    <input type="text" id="last_name" required="required" name="last_name"/>
                                    <label for="last_name">Last Name</label>
                                    <div class="bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="input-container">
                                    <input type="text" id="username" required="required" name="username"/>
                                    <label for="username">Username</label>
                                    <div class="bar"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-container">
                                    <input type="password" id="password" required="required" name="password"/>
                                    <label for="password">Password</label>
                                    <div class="bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-container">
                                    <input type="text" id="address" required="required" name="address"/>
                                    <label for="address">Address</label>
                                    <div class="bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="input-container">
                                    <input type="email" id="email" required="required" name="email"/>
                                    <label for="email">Email</label>
                                    <div class="bar"></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-container">
                                    <input type="text" id="contact" required="required" name="contact"/>
                                    <label for="contact">Contact Phone</label>
                                    <div class="bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="button-container">
                            <button type="submit"><span>Register</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
{% endblock %}