/* Pen Title */
.pen-title {
    padding: 40px 0;
    text-align: center;
    letter-spacing: 2px;
}

.pen-title h1 {
    /*margin: 0 0 20px;*/
    font-size: 40px;
    font-weight: 500;
}

.pen-title span {
    font-size: 12px;
}

.pen-title span .fa {
    color: #343a40b8;
}

.pen-title span a {
    color: #343a40b8;
    font-weight: 600;
    text-decoration: none;
}

/* Card */
.card {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.card:first-child {
    background: #fafafa;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
}

.card .title {
    position: relative;
    z-index: 1;
    border-left: 5px solid #343a40b8;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #343a40b8;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.card .input-container {
    position: relative;
    margin: 0 60px 50px;
}

.card .input-container input {
    outline: none;
    z-index: 1;
    position: relative;
    background: none;
    width: 100%;
    height: 54px;
    border: 0;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
}

.card .input-container input:focus ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}

.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
    width: 50%;
}

.card .input-container input:valid ~ label {
    color: #9d9d9d;
    -webkit-transform: translate(-12%, -50%) scale(0.75);
    transform: translate(-12%, -50%) scale(0.75);
}

.card .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    color: #757575;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.card .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}

.card .input-container .bar:before, .card .input-container .bar:after {
    content: '';
    position: absolute;
    background: #343a40b8;
    width: 0;
    height: 2px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

.card .input-container .bar:before {
    left: 50%;
}

.card .input-container .bar:after {
    right: 50%;
}

.card .button-container {
    margin: 0 60px;
    text-align: center;
}

.card .button-container button {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: 0;
    width: 240px;
    border: 2px solid #e3e3e3;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.card .button-container button span {
    position: relative;
    z-index: 1;
    color: #ddd;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.card .button-container button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #212529;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
    border-color: #343a40b8;
}

.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
    color: #343a40b8;
}

.card .button-container button:active span, .card .button-container button:focus span {
    color: #ffffff;
}

.card .button-container button:active:before, .card .button-container button:focus:before {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(10);
}
