{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--Chart.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="{% static 'js/userprofile_charts.js' %}"></script>

    <meta charset="UTF-8">
    <title>KrishiSathi</title>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>
<body background="{% static "images/bg2.jpg" %}">

<!-- Navigation Bar Starts -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="/">
            <img src="{% static "images/logo1.png" %}" height="50" width="120">
        </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href=""><span class="glyphicon glyphicon-user"></span> Welcome {{ user_info.first_name }}!</a></li>
        <li><a href="/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<!-- Navigation Bar Ends -->
    <h1>You're logged in as <b>{{ user_info.first_name }} {{ user_info.last_name }}</b></h1>
    <h2>First Name: {{ user_info.first_name }}</h2>
    <h2>Last Name: {{ user_info.last_name }}</h2>
    <h2>Email: {{ user_info.email }}</h2>
    <h2>Gender: {{ user_details.gender }}</h2>
    <h2>Country: {{ user_details.country }}</h2>
    <h2>Device Code: {{ user_details.devicecode }}</h2>
    {% for i in user_data %}
        <h6>Moisture: {{ i.moisture }} pH: {{ i.pH }} Humidity: {{ i.humidity }} Temperature: {{ i.temperature }} Device Code: {{ i.devicecode }}</h6>
    {% endfor %}

</body>
</html>

<!--This layout can be extended to build other pages but I have not used it for this project -->